.body-parts-container {
    width: 100%;
    height: 670px;
}
.scrollblock-under-bodyparts {
    height: 0px;
}
.body-parts-container-inner {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}
.image-outer-container {
    position: relative;
    display: flex;
    height: 645px;
    width: 270px;
    overflow: hidden;
}
.image-inner-container {
    position: relative;
}
.circle-inner {
    background-color: #d0191f;
    pointer-events: all;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    cursor: pointer;
  }.circle-missing {
    position: absolute;
    background-color: #2099d5;
    pointer-events: none;
    width: 33px;
    height: 33px;
    border-radius: 100%;
  }
@keyframes circle-thropping-animation {
  0% {
    border-width: 1px;
    border-color: #d0191000;
    padding: 5px;
    margin: 0px;
  }
  70% {
    border-width: 5px;
    border-color: #d0191fff;
    padding: 4px;
    margin: -3px;
  }
  100% {
    border-width: 1px;
    border-color: #d0191000;
    padding: 5px;
    margin: 0px;
  }
}

.circle-thropping {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: white;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  border-style: solid;
  animation-name: circle-thropping-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.body-parts-buttons {
    width: 400px;
    height: 642px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
.body-parts-buttons-inner {
    width: 160px;
    height: 642px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-parts-button-container {
    width: 200px;
    height: 65px;
}
.body-parts-button-container button {
    background: transparent;
    color: #1f99d5;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    padding-left: 25px;
    text-align: left;
    border: 0;
    cursor: pointer;
}
.body-parts-button-container.body-part-active button {
    color: #d0191f;
    border-left: solid 4px #d0191f;
}
.body-parts-button-container sup {
    font-size: 8px;
}

.visible {
  opacity: 1;
}

@media only screen and (max-width: 766px) {
    .body-parts-container {
        height: 13000px;
        position: relative;
    }
    .body-parts-container-inner {
        height: 100vh;
        position: absolute;
        top: 0px
    }
    .body-parts-container-inner.fixed {
        position: fixed;
        top: 0px;
        left: 0px;
    }
    .body-parts-container-inner.finished-fix
    {
        top: calc(12 * 100vh);
    }
    #end-body-parts-fix {
        position: absolute;
        top: calc(12 * 100vh);
        height: 100vh;
    }
.body-parts-buttons {
    margin-left: -20;
    margin-right: -20;
    width: calc(100% + 15px);
    height: fit-content;
    overflow-x: hidden;
}
    .image-outer-container {
        position: relative;
        height: 520px;
    }
.image-inner-container {
    transform: scale(0.75);
    transform-origin: top center;
}
.body-parts-container-inner {
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.body-parts-buttons-inner {
    flex-direction: row;
    justify-content: baseline;
    text-wrap: nowrap;
    height: fit-content;
}
.body-parts-buttons-inner,
.body-parts-button-container,
.body-parts-button-container button {
    min-width: fit-content;
}
.body-parts-button-container {
    width: fit-content;
}
.scrollblock-under-bodyparts {
    height: 100vh;
    width: 100%;
}
.body-parts-button-container button {
    padding-left: 12px;
    padding-left: 12px;
    padding-top: 25px;
    border-top: solid 1px grey;
}
.body-parts-button-container.body-part-active button {
    border-left: none;
    border-top: solid 4px #d0191f;
}
}